parameters:
    level: 5
    ignoreErrors:
          - '#Call to method appMerchant\(\) on an unknown class Generated\\GlueBackend\\Ide\\AutoCompletion.#'
          - '#Method Spryker\\Zed\\AppKernel\\Business\\AppKernelFacadeInterface::getConfig\(\) invoked with 2 parameters, 1 required.#'
